Faker~=37.1.0
IPython~=9.1.0
jupyter~=1.1.1
keras~=3.9.2
matplotlib~=3.10.1
mlxtend~=0.23.4
numpy~=2.2.5
pandas~=2.2.3
Pillow~=11.2.1
pyarrow~=19.0.1
requests~=2.32.3
scikit-learn~=1.6.1
scipy~=1.15.2
seaborn~=0.13.2
setuptools~=79.0.1
tensorflow~=2.16.1
xgboost~=3.0.0
